
.featureCard{
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 0.80em;

}
/* .featureCard img{
    transition: all 0.1s ease-in-out;
}
.featureCard:hover img{
    transform: scale(1.1);
} */