.skillModal::-webkit-scrollbar{
 width: 0.5em;
}
.skillModal::-webkit-scrollbar-track-piece{
  width: 10px;
}
.skillModal::-webkit-scrollbar-thumb{
  background: var(--chakra-colors-gray-600);
  border-radius: 1em;
}